NotShared/
*.zip
*.ncb
*.bsc
*.pch
*.sbr
*.ilk
*.idb
*.obj
*.DS_Store
*.pdb
.vs
*.tlog
*.log
*.recipe
*.vcxproj.user
**/bin/log.txt
**/bin/*.exe
/tempbuild
/tempbuild_temp
/UGT_old
/windows_vs/bin
/windows_vs/build
/windows_vs/x64
**/bin/*.exp
**/bin/*.lib
bin/config.txt
